### SublimeText ###
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

#Workspace files are user-specific
*.sublime-workspace

#Project files should be checked into the repository, unless a significant
#proportion of contributors will probably not be using Sublime Text
*.sublime-project

### Windows ###
# Windows thumbain Cache files
Thumbs.db
Thumbs.db.encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.ink

# Web workbench (sass)
.sass-cache/

# IGNORE oleh TVID Developments
/Aset/Gaya/style.css.map
/Aset/SASS
/Aset/Gaya
/Aset/Fungsi

# Sementara
#/Aset
/Discography

# Dari .gitignore /Documents_folder/TVIDWeb/production/.gitignore
/node_modules

# Sementara
/Masuk
/Play
/Produk
/Store
/Tentang
/Videography

#.gitignore
.gitattributes
index1.html
konfigurasi-antarmuka.js
package-lock.json
package.json
pengelola.js
pengembang.js