### SublimeText ###
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

#Workspace files are user-specific
*.sublime-workspace

#Project files should be checked into the repository, unless a significant
#proportion of contributors will probably not be using Sublime Text
*.sublime-project

### Windows ###
# Windows thumbain Cache files
Thumbs.db
Thumbs.db.encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.ink

# Web workbench (sass)
.sass-cache/

### IGNORE oleh TVID Developments Dari .gitignore /Documents_folder/TVIDWeb/production/.gitignore ###
# /About/index1.html
# /Account
# /Aset/_Fungsi
# /Aset/_Gaya
# /Aset/_SASS
/Aset/data/#ID-Data/cPictures
# /Aset/data/#ID-Data/IG
/Aset/data/#ID-Data/laravel-9
# /Aset/data/#ID-Data/mockupWeb
# /Aset/data/#ID-Data/pelajaranYangdiKetik
# /Aset/data/#ID-Data/proposal usaha
# /Aset/data/#ID-Data/Spotify Wrapped
# /Aset/data/#ID-Data/unreleaseFilePS
# /Aset/data/#ID-Data/Web
# /Aset/Fungsi
# /Aset/Gaya/style.css.map
# /Aset/konten.js
# /Discography/index1.html
/node_modules
# /Play/Games
# /Play/index1.html
# /Product/Invoice
# /Product/index1.html
# /SignIn/index1.html
# /Store/Profile
# /Store/index1.html
# /Videography/index1.html
._package-lock.json
._package.json
# .gitattributes
# .gitignore
# _contekan.txt
# data.json
# index1.html
konfigurasi-antarmuka.js
pengelola.js
pengembang.js

### Ignore Sementara ###
# index.html
# /Aset/Gaya
# /Aset/SASS
# /Aset/menu.js
# /Aset/script.js
### Tidak Bisa Meng-Ignore Sementara ###