.tentang {
    display: grid;
    justify-items: center;
}

h3 {
    font-size: 2em;
    margin: 4% auto 2%;
}

h6 {
    margin: 0 auto 6%;
}

h3, h6 {
    order: 1;
    cursor: default;
}

article {
    color: white;
    cursor: default;
    padding: 3%;
    text-align: justify;
    order: 2;
}

h1 {
    font-size: 2em;
    margin: 4% auto;
}

p {
    padding: 0 0 18%;
}

img.gambarProfil {
    border: solid 5px black;
    border-radius: 50%;
    display: none;
}

img.gambarTron {
    width: 100%;
}